body {
  margin: 0;
}

img {
  width:100%;
  margin:0;
  box-shadow:5px 5px 5px #7F714B;
}

.barrier {
  width:2%;
}

.title {
  background-image: url("http://cdn.wallpapersafari.com/63/25/vT7Hmo.jpg");
  background-color: #412910;
  text-align: center;
  margin: 0;
}

ul {
  list-style:none;
  padding:0em;
  text-align:center;
  margin: 25% 0 25% 0;
}

li {
  padding:0.5em 0em;
  font-size:1.5em;
  font-family: "Old Standard TT";
}

#navbar {
  padding:0;
  background-image: url("https://github.com/pretzelic/victoriaii/blob/master/background.jpg?raw=true");
  max-width:100%;
  max-height:100%;
  background-size:cover;                    
    background-repeat:no-repeat;
    background-position:center center;
  width:15%;
  border: 1px solid black;

  
}

a {
  text-decoration: none;
  color:white;
}

.divs {
  display:table-cell;
}

.main {
  display:table;
}

@font-face {
  font-family: Longdon;
  src: url(https://github.com/pretzelic/victoriaii/blob/master/LONGDON_.TTF?raw=true);
}

#text {
  padding:10px 30px;
  background-color: #C1C9CC;
  font-family: Longdon;
}

li:hover {
  background-color:black;
  font-family: "Old Standard TT";
  font-style:italic;
}

